<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/img/papy.png" />
    <link href="{{ url_for('static', filename='css/bootstrap_css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>

    <title>Grandpybot</title>

</head>
<body>
    <section class="image_background">
        <header class="container-fluid">
                <div class="row">
                        <p class="col-md-1 image_logo"><img src="static/img/papy.png" alt="Image de papy" class="image_papy"/>
                        </p>
                    <h1 class="col-md-10">Bienvenue sur le site de Grandpybot !</h1>
                </div>
        </header>
        <section class="container-fluid">
                <div class="row">
                    <form method="post" action="traitement.py" class="zoned_address col-md-12">
                        <p>
                            <label for="address"></label>
                            <textarea name="address" id="address" class="col-md-6">Salut GrandPy ! Est-ce que tu connais l'adresse de la gare de Périgueux ?</textarea>
                        </p>
                    </form>
                </div>
                <div>
                    <p class="button col-md-12">
                        <button id="button_send" type="button" class="btn btn-light">Envoyer</button>
                    </p>
                    <p class="explication"></p>
                </div>
        </section>
    </section>
    <section>
        <p></p>
        <p class="area_dialogue_space">Propose moi un lieu, je te donnerai son adresse et te raconterai une anecdote !</p>
    </section>
    <section class="container-fluid">
            <div class="main_body row">
                <p class="col-md-4 offset-md-2 col-xs-12 dialog_box"></p>
                <p class="col-md-4 col-xs-12" id="google_map_box"></p>
            </div>
    </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC-8eKYcBYOqthRdC9FcikffcNB1HkJvU"></script>
        <script src="{{ url_for('static', filename='js/api_google.js') }}"></script>
        <script src="{{ url_for('static', filename='js/api_wikipedia.js') }}"></script>

    <footer class="background_footer">
        <div class="container-fluid">
            <div class="row">
                <p class="col-md-2 offset-md-3 name">Maximilien Lehoux</p>
                <p class="col-md-2"><a href="https://github.com/Maximilien-Lehoux/granpy_bot">
                    <img src="static/img/logo_github.png" alt= "logo github" class="logo_github"></a></p>
                <p class="col-md-2"><a href="https://www.linkedin.com/feed/">
                    <img src="static/img/logo_linkedin.png" alt= "logo linkedin" class="logo_linkedin"></a></p>
            </div>
        </div>
    </footer>
</body>
</html>